span {
    float: right;
    position: relative;
    padding-top: 60px;
    
}

.flot {
    float: right;
    margin-bottom: 20px;

    
    

}
.thead{
    
    background-color: black;

}
div{
    background-color: gray;
    overflow: auto;
}
a{
    text-decoration: none;
    background-color: rgb(8, 7, 7);
    color: rgb(241, 236, 236);
    padding:5px ;
    font-size: 20px;
}
